<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title><span th:text="#{ciudad.editar.titulo}"/></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


<body>


<form th:action="@{/createCurrentForecast}" th:object="${formBean}" method="post">


    <h1>Crear pronóstico actual</h1>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Seleccionar ciudad</label>
        <select th:field="*{idCity}">
            <option th:value="null">Seleccione una opción</option>
            <option th:each="c : ${allCities}"
                    th:value="${c.id}"
                    th:text="${c.name}"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="date">Fecha de hoy</label>
        <input type="date" disabled class="form-control" th:value="date" id="date"
               th:field="*{date}">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect2">Seleccionar estado de clima</label>
        <select th:field="*{idWeatherStatus}">
            <option th:value="null">Seleccione un estado</option>
            <option th:each="w : ${allWeatherStatus}"
                    th:value="${w.id}"
                    th:text="${w.status}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="temp">Temperatura Actual</label>
        <input type="number" value="null" class="form-control" id="temp" th:field="*{temp}">

    </div>

    <div class="form-group">
        <label for="humidity">Porcentaje de Humedad</label>
        <input type="number" value="null" class="form-control" id="humidity" th:field="*{humidity}">
    </div>

    <input type="submit" class="btn btn-primary" name="action" value="Registrar Clima"/>


</form>
</body>
</html>