<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar pronótico extendido</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


<body>


<form th:action="@{/updateExtendedForecast}" th:object="${formBean}" method="post">
    <input type="hidden" id="id" th:field="*{id}">
    <input type="hidden" th:field="*{date}">

    <h1>Editar pronóstico extendido</h1>

    <div class="form-group">
        <label>Seleccionar ciudad</label>
        <select required th:field="*{idCity}">
            <option th:value="null">Seleccione una opción</option>
            <option th:each="c : ${allCities}"
                    th:value="${c.id}"
                    th:text="${c.name}"></option>
        </select>
        <input type="submit" class="btn btn-primary" name="action" value="Buscar pronóstico"/>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Fecha pronosticada</th>
                <th scope="col">% Probabilidad de lluvia</th>
                <th scope="col">Lluvia prevista(mm)</th>
                <th scope="col">Descripción</th>
                <th scope="col">Editar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${allExtendedForecastByCity}">
                <td th:text="${e.id}" th:field="*{id}"></td>
                <td th:text="${e.date}"></td>
                <td th:text="${e.rainProbability}"></td>
                <td th:text="${e.predictedRain}"></td>
                <td th:text="${e.description}"></td>
                <td><a th:href="@{/updateExtendedForecast/getForUpdate/{id}(id=${e.id})}"
                       class="btn btn-primary">editar</a></td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="form-group">
        <label for="date">Fecha a pronosticar</label>
        <input disabled type="date"  class="form-control" th:value="date" id="date"
               th:field="*{date}">
    </div>

    </div>
    <div class="form-group">
        <label for="rainProbability">Porcentaje de probabilidad de lluvias</label>
        <input type="number" min="0" class="form-control" th:value="rainProbability" id="rainProbability"
               th:field="*{rainProbability}">
    </div>

    <div class="form-group">
        <label for="predictedRain">Cantidad de lluvia prevista en mm</label>
        <input type="number" min="0" class="form-control" th:value="predictedRain" id="predictedRain"
               th:field="*{predictedRain}">
    </div>

    <div class="form-group">
        <label for="description">Descripción del pronóstico</label>
        <textarea min="1" max="500" class="form-control" th:value="description" id="description" rows="3"
                  th:field="*{description}"></textarea>
    </div>

    <input type="submit" class="btn btn-primary" name="action" value="Editar pronóstico"/>

</form>
</body>
</html>	